@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #191D38;
    --color-secondary: #0ba8e1;
    --color-orange: #ff5e2c;

}

/* --------------------------------------------------Log In----------------------------------------------------------- */
.login-container {
    @apply bg-gray-300  grid grid-cols-2
}

.login-left {
    @apply bg-primary flex justify-center items-center
}

.login-right {
    @apply bg-white px-16 py-32
}
.login-right-header{
    @apply w-full border-b-2 border-gray-100 text-xl mt-4 mb-8
}

.submit-button{
    @apply block mt-4 p-2 w-full text-white text-xs text-center bg-secondary cursor-pointer hover:text-gray-200 rounded-sm shadow-md
}
/* --------------------------------------------------Signup----------------------------------------------------------- */
.signup-container {
    @apply bg-gray-300 h-screen grid grid-cols-2
}

.signup-left {
    @apply bg-primary flex justify-center items-center
}

.signup-right {
    @apply bg-white px-16 py-16 
}
.signup-right-header{
    @apply w-full border-b-2 border-gray-100 text-xl mt-4 mb-8
}

/* ------------------------------------------------Admin Board----------------------------------------------------- */

.admin-container{
    @apply grid grid-cols-12 h-screen bg-gray-100 p-2 gap-4
}
.admin-navbar{
    @apply bg-primary col-span-2 rounded-md py-2 px-4 
}
.admin-main{
    @apply bg-transparent col-span-10 rounded-md
}
/* ------------------------------------------------Admin Board----------------------------------------------------- */
.dashboard-container {
    @apply bg-transparent h-screen mt-4 rounded-xl grid grid-cols-12 gap-4
}

.dashboard-left {
    @apply bg-white col-span-3 rounded-xl
}

.dashboard-right {
    @apply bg-white col-span-9 rounded-xl
}














